body {
	overflow: auto;
	margin: 0;
	padding: 0;	
}

section {
	max-width: 1270px;
	margin: 0 auto;
	padding: 70px 0;
	overflow: auto;
}

.left {
	width: calc(100%/2);
    float: left;
}

.right {
	width: calc(100%/2);
    padding: 0;
    float: left;
    text-align: center;
    
}

.right img {
	max-width: 100%;
}

input, textarea, select{
	display: block;
    margin-top: 15px;
	margin-bottom: 21px;
	border: 1px solid #cad0d9;
	border-radius: 2px;
	color: #2b2b2b;
	width: 100%;
	box-sizing: border-box;
	transition: 0.35s ease-in-out;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

input {
	padding: 14px 10px;
	font-size: 16px;
}

select {
	height: 40px;
	background-color: transparent;
	border-radius: 2px !important;
	width: calc(100%/2);
}

select:focus,
textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #00575e;
}

textarea {
	height: 140px;
	padding: 14px 10px;
}

label {
	color: #00575e;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

input[type="checkbox"] {
	position: relative;
	margin-left: 0;
}

input[type="checkbox"]:before {
	content: "BAILE";
	font-family: 'Oswald', sans-serif;
	color: #00575e;
	position: relative;
	right: -28px;
    bottom: 3px;
}

button {
	font-family: 'Oswald', sans-serif;
	background-color: #00575e;
	color: #f4f5f7;
	padding: 17px 66px 14px;
	line-height: 14px;
    text-align: center;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    border-radius: 3px;
    border-color: none;
    font-size: 14px;
}

@media (min-width: 768px) and (max-width: 5000px) {


	.top {
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	section {
		padding: calc(100%/13 * 1);
	}

	.top {
		text-align:center;
		margin-bottom: 35px;
	}

	.top img {
		max-width: 50%;
	}

	.left {
		width: 100%;
	}

	.right {
		display: none;
	}
	
	select {
		width:100%;
	}
}

